<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            id="name"
            type="text"
            class="form-control"
            name="name"
            ngModel
            #nameInput
          >
        </div>

         <div class="col-sm-4 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            name="amount"
            class="form-control"
            ngModel
            #amountInput
            >
         </div>
      </div>

        <div class="row">
          <div class="col-xs-12 button-group">
            <button class="btn btn-success" (click)="onAddIngredients()">Add</button>
            <button class="btn btn-primary">Delete</button>
            <button class="btn btn-danger">Clear</button>
          </div>
        </div>
    </form>
  </div>
</div>
